.homeContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header {
  flex-basis: 7%;
  background-color: rgb(54, 65, 80);
  display: flex;
}
.content {
  flex: 1;
  background-color: rgb(248, 248, 248);
  display: flex;
}
.navContent {
  flex-basis: 12%;
  height: 100%;
  background-color: rgb(40, 52, 64);
  display: flex;
  flex-direction: column;
}
.user-msg {
  background-color: #364150;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.headImg {
  height: 70px;
  width: 70px;
  border: 3px solid #e9e9e9;
  border-radius: 70px;
}
.user-msg-text {
  color: #e9e9e9;
  margin-top: 8px;
}
.nav {
  flex: 1;
}
.nav-ad {
  height: 20px;
  border-top: 1px solid rgb(115, 122, 133);
  background-color: #364150;
  padding: 4px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: 'pingfang';
  color: #6a737d;
}
.ad-text {
  display: flex;
  align-items: center;
  color: #6a737d;
}
.ad-text:hover {
  color: rgb(3, 102, 214);
  text-decoration: none;
}
.ad-img-heart {
  height: 15px;
  width: 14px;
  margin-right: 5px;
}
.ad-divide {
  font-weight: bold;
  margin: 3px 6px 0 6px;
}
.logoText {
  line-height: 7vh;
  font-size: 18px;
  flex: 1;
  color: #fff;
}
.header-nav {
  flex-basis: 6%;
  margin: 10px 0;
  border-left: 1px solid rgb(2, 115, 134);
  box-shadow: -1px 0 0 rgb(75, 192, 212); 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.header-nav-icon {
  height: 33px;
  width: 33px;
}
.header-nav-icon:hover {
  height: 33px;
  width: 33px;
  filter: invert(30%);
}
.quit-icon {
  height: 26px;
  width: 26px;
  margin-top: 4px;
}
.quit-icon:hover {
  height: 26px;
  width: 26px;
  margin-top: 4px;
  filter: invert(30%);
}

.header-nav-user-text {
  font-size: 0.7vw;
  color: #fff;
}
.header-nav-quit-text {
  font-size: 0.7vw;
  margin-top: 4px;
  color: #fff;
}
.header-logo {
  height: 40px;
  width: 40px;
  margin: 14px 20px 0 30px;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.bodyContent-header {
  flex-basis: 4%;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}
.bodyContent-header-position-icon {
  height: 20px;
  width: 20px;
  margin-left: 23px;
  margin-right: 10px;
}
.bodyContent-header-text1 {
  font-size: 12px;
  margin-top: -1px;
}
.bodyContent-header-Breadcrumb {
  flex: 1;
}
.bodyContent-header-date {
  margin-right: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.date-time {
  margin-left: 20px;
}
.bodyContent-body {
  flex: 1;
  padding: 30px 30px 50px 30px;
  overflow: hidden;
}
.linkText {
  color: #1d8ce0;
}
.block {
  padding: 30px 0 0 20px;
}
.el-menu--dark {
  background-color: #364150!important;
}
.echartsBox {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.echartsBox-bar {
  flex-basis: 13%;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.echartsBox-bar-blank {
  padding: 15px;
}
.echartsBox-body {
  flex: 1;
}